profiles {
    standard {
        process {
            executor = 'local'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
            }

            withName: 'plotBiophysicalFeatures' {
                container = 'diazadriang/matplotlib:ubuntu'
            }

            withName: 'plotAgmata' {
                container = 'diazadriang/matplotlib:ubuntu'
            }

            withName: 'createMultipleSequenceAlignment' {
                container = 'pegi3s/clustalomega:latest'
            }

            withName: 'buildPhilogeneticTree' {
                container = 'pegi3s/fasttree:latest'
            }

            withName: 'renderTree' {
                container = 'r-base:latest'
            }

            withName: 'buildLogo' {
                container = 'quay.io/biocontainers/weblogo:3.7.9--pyhdfd78af_0'
            }
        }
    }
    
    zauron {
        process {
            executor = 'local'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
                maxForks = 8
                memory = 4.GB
            }
        }
    }

    hydra {
        process {
            executor = 'slurm'

            withName: 'predictBiophysicalFeatures' {
                container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
                maxForks = 6
                cpus = 8
                memory = 16.GB
                queue = 'broadwell'
            }

            withName: 'plotBiophysicalFeatures' {
                container = 'diazadriang/matplotlib:ubuntu'
                maxForks = 6
                queue = 'broadwell'
            }

            withName: 'plotAgmata' {
                container = 'diazadriang/matplotlib:ubuntu'
                maxForks = 6
                queue = 'broadwell'
            }

            withName: 'createMultipleSequenceAlignment' {
                container = 'pegi3s/clustalomega:latest'
                cpus = 16
                memory = 16.GB
                queue = 'skylake'
            }

            withName: 'buildPhilogeneticTree' {
                container = 'pegi3s/fasttree:latest'
            }

            withName: 'renderTree' {
                container = 'r-base:latest'
            }

            withName: 'compressPredictions' {
                cpus = 16
                memory = 16.GB
                queue = 'skylake'
            }

            withName: 'buildLogo' {
                container = 'quay.io/biocontainers/weblogo:3.7.9--pyhdfd78af_0'
            }
        }
    }

    withdocker {
        docker.enabled = true
        singularity.enabled = false

        docker.temp = 'auto'
        docker.runOptions = '-u \$(id -u):\$(id -g)'
    }

    withsingularity {
        docker.enabled = false
        singularity.enabled = true

        singularity.runOptions = "-B /run"
    }
}
