docker {
    enabled = true
    temp = 'auto'
    runOptions = '-u \$(id -u):\$(id -g)'
}

process {
    executor = 'local'

    withName: 'predictBiophysicalFeatures' {
        container = 'quay.io/biocontainers/b2btools:3.0.5--pyhdfd78af_0'
    }

    withName: 'createMultipleSequenceAlignment' {
        container = 'pegi3s/clustalomega:latest'
    }

    withName: 'buildPhilogeneticTree' {
        container = 'pegi3s/fasttree:latest'
    }

    withName: 'renderTree' {
        container = 'r-base:latest'
    }
}
